.top-right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.up_time {
  padding: 0 1em;
  font-size: x-small;
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
  transform: rotate(-90deg);
}

.chart_options {
  display: flex;
}

.z_option {
  display: block;
  margin: 0 .3em;
  font-size: .9em;
  cursor: pointer;
  color: $primary;
  padding: 2px 7px;
  border-radius: 5px;
}

.option_sel {
  background-color: $primary;
  color: white !important;
}

.z_option.red {
  color: $red;
}

.option_sel.red {
  background-color: $red;
}

$loader_sx: 150px;
$loader_sy: 150px;

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  z-index: 10000;
  overflow: hidden;
  transition: background-color 2s;
  background-color: transparentize(#fff, .3);
  display:flex;
  align-items: center;
  justify-content: center;
}


.loaderInline {
  position: relative;
  width: 100%;
  z-index: 10000;
  display:flex;
  align-items: center;
  justify-content: center;
}

.loaderAbsolute {
  position: absolute;
  background: transparent;
}

.loaderBody {
  color:darkred;
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
}

.loaderImg {
  display:block;
  width: $loader_sx;
  height: $loader_sy;
  transform-origin: center center;
  margin:0 auto;
}

.loaderInline .loaderImg {
  width: $loader_sx / 2;
  height: $loader_sy / 2;
}
